.client-list {
  display: flex;

  &__item {
    border: 1px solid #aFb1b8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__link {
    fill: #Afb1b8;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  
  &__item:hover,
  &__item:focus {
    border-color: var(--color-hover);
  }
  
  &__link:hover,
  &__link:focus {
    fill: var(--color-hover);
  }
}

