.header {
    border-bottom: 1px solid #eeeeee;
    background-color: var(--white-color-hero);

    &__inner {
      display: flex;
      align-items: center;
    }


}

.menu {

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  &__list {
    margin-left: 94px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
      display: none;
      }
  }
  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--color-accent);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:first-child) {
    margin-left: 50px;
  }
  &__link:hover,
  &__link:focus {
  color: var(--color-hover);
}
}

.button-mob {
  border: none;
  background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
      }

      &__cross {
        display: none;
      }
    
      &.is-open &__cross {
        display: block;
      }

      .button-mob.is-open &__menu {
        display: none;
      }
  }

.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-logo);
}

.web-logo {
  color: var(--color-hover);
}


.contact {
  display: block;
  margin-left: auto;
  
  &__menu {
    @media screen and (min-width: 1200px) {
      display: inline-block;
      }
  }

  &__link {
    align-items: center;
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu:not(:first-child) {
    margin-top: 10px;
 }

  &__link:hover,
  &__link:focus {
  color: var(--color-hover);
  }
  &__smartphone-icon,
  &__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  }

  @media screen and (max-width: 768px) {
    display: none;
    }
    
  @media screen and (min-width: 1200px) {
    &__menu:not(:first-child) {
       margin-left: 50px;
    }
  }
}


