.header {
  border-bottom: 1px solid #eeeeee;
  background-color: var(--white-color-hero);
  height: 80px;
  
  &__inner {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-logo);
}

.web-logo {
  color: var(--color-hover);
}



.menu {
  &__list {
    margin-left: 94px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-accent);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:first-child) {
    margin-left: 50px;
  }
  &__link:hover,
  &__link:focus {
  color: var(--color-hover);
}
}

.line {
  position: relative;
}

.menu-link-current {
  color: var(--color-hover);
}

.menu-link-current::after {
  content: '';
  background: #2196f3;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}



.contact {
  display: flex;
  margin-left: auto;
  
  &__menu:not(:first-child) {
    margin-left: 50px;
  }
  &__link {
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
  color: var(--color-hover);
  }
  &__smartphone-icon,
  &__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  }
}









